.profile__edit-button {
  max-width: 24px;
  max-height: 24px;
  margin-top: 15px;
  border: 1px #ffffff solid;
  background-color: #000000;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .profile__edit-button {
    margin: 8px 19px 0 0;
    max-width: 18px;
    max-height: 18px;
    padding: 0;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
}
