.header {
  max-width: 880px;
  margin: 0 auto;
  margin-top: 45px;
  font-family: "Inter", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 976px) {
  .header {
    max-width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 28px;
  }
}
